.additem{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.yuxa{
    width: 100%;
    height: 10;
}
.formr{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topo{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botomo{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.intqq{
    width: 300px;
    height: 40px;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid rgb(180, 180, 180);
}
.button button{
    font-size: 20px;
}
.button button{
    border-radius: 50px;
}